body {
  font-family: $font-family;
  max-width: 100vw;
  color: #313131;
}

.main {
  padding-top: $main-top-offset;
}

.block-page {
  position: relative;
  padding: 60px 0 150px;
}

.container-fluid {
  display: block;
  padding: 0 $container-fluid-offset-h;
}

/* Form */
.form-field {
  display: block;
  width: 100%;
  border: 1px solid #000000;
  min-height: 60px;
  padding: 20px 25px;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1;
  color: #414141;
}
.button {
  padding: 20px 50px;
  min-height: 60px;
  background: #0F65D9;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
  border: none;
}
