$font-family: 'Montserrat', sans-serif;

$white: #fff;
$black: #000000;
$gray: #313131;
$light-grey: #414141;
$dark: #222222;
$dark2: #2B2B2B;
$dark3: #1A1A18;
$dark4: #3131314d;
$light: #f7f7f7;
$light-blue: #2680F9;
$blue: #0F65D9;
$dark-blue: #0052C1;
$grey-blue: #8D93AA;
$red: #EB5757;
$red2: #eb575785;
$dark-red: #A61313;
$dark-red2: #a6131386;
